.root {
  flex-grow: 1;
  display: flex;
  flex-shrink: 1;
  background-color: #000;
  padding: 50px;
  flex-direction: column;
  gap: 20px;
}
.logo {
  height: 50px;
  display: flex;
  align-items: center;
}
.logoImg {
  width: 30px;
  height: 30px;
  background-color: #4d4d4d;
  border-radius: 50;
}
.logoText {
  font-size: 20px;
  color: #d12626;
  font-weight: 900;
  margin-left: 0.5rem;
}
.title {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hr {
  color: #fff;
  border: 0.5px solid #777;
  width: 100%;
}
.list {
  list-style-type: none;
  padding: 1px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}
.listItem {
  color: #fff;
  text-align: left;
}
